/* body and fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
   font-style: normal;
  }


                     /*header*/
                   
/* navber */

header{
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 81px ;
}
.navber{
    align-items: center;
    justify-content: space-between;
    
}
.navber,.banner{
    max-width: 1440px;
    margin: 0 auto;
}
.nav-items ul li{
    list-style: none;
    margin-right: 50px;
}
.nav-items ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #424242;
}
/*banner*/
.banner-texts{
    max-width: 860px;
    margin: 0 auto 14px;
    text-align: center;
}
.banner-texts h1{
    font-size: 64px;
    font-weight: bold;
    color: #131313;

}


                      /* applyed on more */

.D-flex{
    display: flex;
}
.bold-45{
    font-size: 45px;
    font-weight: bold;
    color: #131313;
}
.regular-16{
    font-size: 16px;
    font-weight: 500;
    color: #727272;
}
.btn{
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    border-style: none;
}

/* main */

main,footer{
    max-width: 1440px;
    margin: 0 auto;

    /* sec-one */
}.items{
    margin-top: 85px;
    column-gap: 50px;
    display: flex;
    align-items: center;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.gray{
    font-weight: 500;
    color: #727272;
}
.orange{
    color: #FF900E;
}

/* facts*/
.sec-three{
    margin-top: 90px;
}
.cards{
    display: flex;
    justify-content: space-around;
}
.cards .card{
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    border-radius: 8px;
    text-align: center;
}
.card img{
    margin-top: 46px;
}
.card h3{
    margin: 8px 0px 2px;
}
.card-p{
    margin-top: 3px;
}
.card-h3{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}
.card-p{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}
/* sponcer*/
.title{
    max-width:540px ;
    margin: 150px auto 40px;
    text-align: center;
}
.sponcer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponcer img{
    filter: grayscale(100%);
}
/*footer*/
footer{
    background-color: #FFF4E7;
    height: 100px;
    margin: 70px auto 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

/* sec-tow*/
.sec-tow{
    margin-top: 120px;
    display: flex;
    gap: 130px;
}
.info{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
    padding:30px;
    margin-bottom: 20px;
}
.cont > h3{
    border-left: 5px #FF900E;
}

.info h5{
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    margin: 0px;
} 
.btn.big{
    font-size: 65;
    font-weight: bold;

}
.experience{
    
}
.btnn{
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 45px 42px;
    border-style: none;
    margin-left: -100px;
    margin-top: -80px;
}
.btnn .big{
    font-size: 65px;
    font-weight: bold;
}
.btnn .small{
    font-size: 25px;
    font-weight: 500;
}


/* header response */
@media screen and (max-width:576px) {
   .navber{
    flex-direction: column-reverse;
   }
   .nav-items ul li{
    margin-right: 15px;
   }
   .banner-image {
    width: 100%;
   }

   .items{
    flex-direction: column;
   }
   .image-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
main{
    max-width: 100%;
}
.cards{
    flex-direction: column;
}
}

